table{
    position: fixed;
    right: 50%;
    top: 40%;
    border: 1px solid rgb(206, 206, 206);

}
td{
    padding: 5px;
}
th{
    background-color: gray;
}
tr:nth-child(2n+1){
    background-color: rgb(141, 196, 20);
}